{% trans_default_domain "app" %}

<div class="wrap">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p>{{ 'profile.show.class'|trans }}: {{ user.class }}</p>
    <p>{{ 'profile.show.strong'|trans }}: {{ user.strong }}</p>
    <p>{{ 'profile.show.intelligence'|trans }}: {{ user.intelligence }}</p>
    <p>{{ 'profile.show.lucky'|trans }}: {{ user.lucky }}</p>
    <p>{{ 'profile.show.mentalStrength'|trans }}: {{ user.mentalStrength }}</p>
    <p>{{ 'profile.show.dexterity'|trans }}: {{ user.dexterity }}</p>
    <p>{{ 'profile.show.money'|trans }}: {{ user.money }}</p>
</div>
