{% trans_default_domain "app" %}

<div class="wrap">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p>{{ 'profile.show.roles'|trans }}: {{ user.roles[0] }}</p>
</div>
