{% trans_default_domain 'app' %}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'categories list' | trans }}</h1>

    <table class="uk-table uk-table-striped uk-table-condensed">
        <thead>
            <tr>
                <th>{{ 'id' | trans }}</th>
                <th>{{ 'title' | trans }}</th>
                <th>{{ 'description' | trans }}</th>
                <th>{{ 'status' | trans }}</th>
                <th>{{ 'actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                <td><a href="{{ path('category_show_todos', { 'id': category.id }) }}">{{ category.title }}</a></td>
                <td>{{ category.description }}</td>
                <td>{{ category.status }}</td>
                <td class="col-actions">
                    <div class="uk-button-group">
                        <a class="uk-button uk-button-small" href="{{ path('category_show', { 'id': category.id }) }}">{{ 'show' | trans }}</a>
                        <a class="uk-button uk-button-small" href="{{ path('category_edit', { 'id': category.id }) }}">{{ 'edit' | trans }}</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('category_new') }}">{{'create a new category' | trans }}</a>
        </li>
    </ul>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/cats.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/cats.js') }}"></script>
{% endblock %}
