{% trans_default_domain 'app' %}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'category' | trans }}</h1>

    <table>
        <tbody>
            <tr>
                <th>{{ 'id' | trans }}</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>{{ 'title' | trans }}</th>
                <td>{{ category.title }}</td>
            </tr>
            <tr>
                <th>{{ 'description' | trans }}</th>
                <td>{{ category.description }}</td>
            </tr>
            <tr>
                <th>{{ 'status' | trans }}</th>
                <td>{{ category.status }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('category_index') }}">{{ 'back to the list' | trans }}</a>
        </li>
        <li>
            <a href="{{ path('category_edit', { 'id': category.id }) }}">{{ 'edit' | trans }}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
