<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/css/uikit.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/css/components/form-advanced.almost-flat.css" />
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <nav class="uk-navbar">
                <a class="uk-navbar-brand" href="/">Todo Manager</a>
                <ul class="uk-navbar-nav">
                    <li class="uk-parent" data-uk-dropdown aria-haspopup="true" aria-expanded="false">
                        <div class="uk-navbar-content">Todos</div>
                        <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom">
                            <ul class="uk-nav uk-nav-navbar">
                                <li><a href="{{ path('todos_index') }}">List</a></li>
                                <li><a href="{{ path('todos_new') }}">Create</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="uk-parent" data-uk-dropdown aria-haspopup="true" aria-expanded="false">
                        <div class="uk-navbar-content">Categories</div>
                        <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom">
                            <ul class="uk-nav uk-nav-navbar">
                                <li><a href="{{ path('category_index') }}">List</a></li>
                                <li><a href="{{ path('category_new') }}">Create</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="uk-navbar-content uk-navbar-flip">
                    <a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a>
                    <a href="{{ path('fos_user_security_logout') }}">
                        logout
                    </a>
                </div>
            </nav>
        </header>
        <content>
            {% block body %}{% endblock %}
            {% block fos_user_content %}{% endblock %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/js/uikit.min.js"></script>
            <script src="{{ asset('build/app.js') }}"></script>
            {% block javascripts %}{% endblock %}
        </content>
        <footer>footer</footer>
    </body>
</html>
