<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/css/uikit.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/css/components/form-advanced.almost-flat.css" />
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            Logged as: {{ app.user.username }}
            <a href="{{ path('fos_user_security_logout') }}">
                logout
            </a>
        </header>
        <content>
            {% block body %}{% endblock %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/js/uikit.min.js"></script>
            <script src="{{ asset('build/app.js') }}"></script>
            {% block javascripts %}{% endblock %}
        </content>
        <footer>footer</footer>
    </body>
</html>
