{% trans_default_domain 'app' %}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'todo edit' | trans }}</h1>

    {{ form_start(edit_form, { 'attr': {'class': 'uk-form'} }) }}
        {{ form_widget(edit_form) }}
        <input type="submit" class="uk-button uk-button-primary" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('todos_index') }}">{{ 'back to the list' | trans }}</a>
        </li>
    </ul>
{% endblock %}
