{% trans_default_domain 'app' %}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'todos list' | trans }}</h1>

    <table class="uk-table uk-table-striped uk-table-condensed">
        <thead>
            <tr>
                <th>{{ 'id' | trans }}</th>
                <th>{{ 'title'| trans }}</th>
                <th>{{ 'content' | trans }}</th>
                <th>{{ 'datecreate' | trans }}</th>
                <th>{{ 'datemodify' | trans }}</th>
                <th>{{ 'datesheduled' | trans }}</th>
                <th>{{ 'cat' | trans }}</th>
                <th>{{ 'actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr>
                <td><a href="{{ path('todos_show', { 'id': todo.id }) }}">{{ todo.id }}</a></td>
                <td>{{ todo.title }}</td>
                <td>{{ todo.content }}</td>
                <td>{% if todo.dateCreate %}{{ todo.dateCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if todo.dateModify %}{{ todo.dateModify|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if todo.dateSheduled %}{{ todo.dateSheduled|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ todo.category.title }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('todos_show', { 'id': todo.id }) }}">{{ 'show' | trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('todos_edit', { 'id': todo.id }) }}">{{ 'edit' | trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('todos_delete', { 'id': todo.id }) }}">{{ 'delete' | trans }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('todos_new') }}">{{ 'create a new todo' | trans }}</a>
        </li>
    </ul>
{% endblock %}
