{% trans_default_domain 'app' %}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Todos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'title'| trans }}</th>
                <th>Content</th>
                <th>Datecreate</th>
                <th>Datemodify</th>
                <th>Datesheduled</th>
                <th>Cat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr>
                <td><a href="{{ path('todos_show', { 'id': todo.id }) }}">{{ todo.id }}</a></td>
                <td>{{ todo.title }}</td>
                <td>{{ todo.content }}</td>
                <td>{% if todo.dateCreate %}{{ todo.dateCreate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if todo.dateModify %}{{ todo.dateModify|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if todo.dateSheduled %}{{ todo.dateSheduled|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ todo.category.title }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('todos_show', { 'id': todo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('todos_edit', { 'id': todo.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('todos_delete', { 'id': todo.id }) }}">delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('todos_new') }}">Create a new todo</a>
        </li>
    </ul>
{% endblock %}
