{% trans_default_domain 'app' %}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'todo creation' | trans }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('todos_index') }}">{{ 'back to the list' | trans }}</a>
        </li>
    </ul>
{% endblock %}
