{% trans_default_domain 'app' %}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="left">
        <ul id="js-cat-menu" class="uk-list uk-list-line">
            {% for category in cats.data %}
                <li>
                    <a href="{{ path('category_show_todos', { 'id': category.id }) }}">{{ category.title }}</a>
                    <div class="uk-text-right todos_count">{{cats.count[loop.index0]}}</div>
                </li>
            {% endfor %}
            <li><a class="uk-text-success" href="{{path('todos_index')}}">{{ 'show all' | trans }}</a></li>
        </ul>
    </div>
    <div class="content">
        <div id="js-todos-list">
            {% for todo in todos %}
                <div class="uk-block uk-block-default" data-id="{{ todo.id }}">
                    <h2>{{ todo.title }}</h2>
                    <p>{{ todo.content }}</p>
                    {{ todo.dateSheduled.date|date("Y/m/d h:m") }}
                    <div class="uk-button-group">
                        <a class="uk-button uk-button-small uk-button-primary todo_edit" data-uk-modal="{target:'#js-edit-modal', center:true}" href="{{path('todos_edit',{'id':todo.id})}}">{{ 'edit' | trans }}</a>
                        <a class="uk-button uk-button-small todo_close" href="{{path('todos_close',{'id':todo.id})}}">{{'close' | trans }}</a>
                        <a class="uk-button uk-button-small uk-button-danger todo_delete" href="{{path('todos_delete',{'id':todo.id}) }}">{{ 'delete' | trans}}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="js-edit-modal" class="uk-modal">
        <div class="uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-spinner"></div>
            <div class="uk-modal-content"></div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/start.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/start.js') }}"></script>
    <script>
        (function(){
            $todoNS = window['$todo'] || (window['$todo'] = {});
            $todoNS.translate = {};
            $todoNS.translate['action_buttons'] = {
                'todo_edit': "{{ 'edit' | trans |escape('js') }}",
                'todo_close': "{{ 'close' | trans |escape('js') }}",
                'todo_delete': "{{ 'delete' | trans |escape('js') }}",
            }
        }());
    </script>
{% endblock %}
