{% trans_default_domain 'FOSUserBundle' %}

<form class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="form-group">
        <input type="text" id="username" class="username" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" required="required" />
   </div>

   <div class="form-group">
       <input type="password" id="password" class="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required" />
   </div>

<input class="btn" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

<p>
  <a href="/register">Register user</a>
</p>

{% if error %}
<div class="errors">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
</form>
