{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users</h1>
    <table class="uk-table uk-table-striped uk-table-condensed">
        <thead>
            <th>id</th>
            <th>name</th>
            <th>email</th>
            <th>status</th>
            <th>roles</th>
            <th>login</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for user in data %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.enabled}}</td>
                    <td>
                        {% for role in user.roles %}
                            {{role}}
                        {% endfor %}
                    </td>
                    <td>{{user.lastLogin|date('Y-m-d H:i:s')}}</td>
                    <td>
                        <div class="uk-button-group">
                            <a class="uk-button uk-button-small" href="{{path('user_edit', { 'id': user.id })}}">Edit</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
